body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1,
#ending h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

header p,
#ending p {
    text-decoration: underline;
    color: aquamarine;
    font-size: 16px;
}

#personal h1 {
    font-size: 42px;
    font-weight: 300;
    color: white;
}

#personal p {
    font-size: 21px;
    color: grey;
}

#ending img {
    padding-top: 20px;
}

footer {
    text-align: right;
    color: gray;
}